.padding-fix {
  margin: 20px;
}

.add {
  margin-left: 10px;
  font-weight: bold;
  font-size: 20px;
  color: white;
}

.total {
  font-weight: bold;
}

.previewbutton {
  margin-left: 12px;
  margin-top: 10px;
}

.description {
  padding-left: 10px;
}

.amount {
  padding-left: 10px;
}

.error-text {
  color: #a94442;
  font-size: 12px;
}
